<h1> Angular </h1>
<navbar></navbar>
<router-outlet></router-outlet>
<!-- <app-courses></app-courses>
<app-course-list></app-course-list> -->
<!-- <h2> Adding ngIf with ng-template for courses length</h2>
<div *ngIf="courses.length==0; else noCourses">
  <span> list of courses is: {{courses}} </span>
<div>
<ng-template #noCourses>
  no courses
</ng-template> -->
<!-- <br>
<hr>
<h2> Now Below is Basics of Sub components and their API</h2>
<br>
<favourite [isFavourite]=true (change)="onFavoriteChange($event)"></favourite>
<hr>
<h2> Now Below is Panel Component of Bootstrap</h2>
<br>
<bootstrap-panel title="Panel Title">
  <div class="panel-content">
    This is the content of the panel.
  </div>
</bootstrap-panel>
<br>
<hr>
<input type="text" appInputFormat/> -->
<!-- <br>
<hr>
<h2>This is a template form</h2>
<app-contact-form></app-contact-form>
<br>
<hr>
<h2>This is a reactive form</h2>
<app-signup-form></app-signup-form>
<br>
<hr>
<h2>This the new course add delete form</h2>
<app-new-course-form-component></app-new-course-form-component>

<br>
<hr>
<h2>This the posts/ Http related flows</h2>
<app-posts></app-posts> -->
